@media (min-width: 768px) {
    header h1 {
        text-align: start;
    }


    main {
        flex-direction: row;
    }

    aside { 
        position: absolute;
        left: 0;
        top: 0;
        margin: 2rem;
        z-index: 10;
        width: 400px;
        max-height: 90vh;  
    }
}